/* Remove bottom margin from sidebar titles */
.bslib-sidebar-layout .sidebar-title {
  margin-bottom: 0;
}

/* Extra large buttons */
.btn-xl, .btn-group-xl > .btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

/* Allow disabled buttons to have tooltips */
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: auto;
}

/* Allow for centering of images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Add padding between inline checkboxes*/
.checkbox-inline {
  padding-right: 12px;
}

/* Give regular modal dialogs the attributes of "modal-dialog-centered" */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.navbar, .tab-content {
  padding-right: 16px;
}

/* Increase size of the progress bar when uploading files */
.progress {
  height: 20px;
}
.progress .progress-bar {
  font-size: 15px;
  line-height: 18px;
}

/* Adding padding to radio-inline elements */
.radio-inline {
  padding-right: 0.5em;
}

/* Customize shiny notifications */
#shiny-notification-panel {
  width: 450px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.shiny-progress-notification .progress-text .progress-message {
  font-size: 110%;
  font-weight: normal;
  color: var(--bs-secondary-text-emphasis);
}
.shiny-notification-close {
  font-size: 32px;
  padding-right: 4px;
}
.shiny-notification {
  background: var(--bs-light-bg-subtle);
  opacity: 1;
  font-size: 1rem;
}
.shiny-notification-message {
  color: var(--bs-success-text-emphasis);
  background: var(--bs-success-bg-subtle);
  border-color: var(--bs-success-border-subtle);
}
.shiny-notification-warning {
  color: var(--bs-primary-text-emphasis);
  background: var(--bs-primary-bg-subtle);
  border-color: var(--bs-primary-border-subtle);
}
.shiny-notification-error {
  color: var(--bs-danger-text-emphasis);
  background: var(--bs-danger-bg-subtle);
  border-color: var(--bs-danger-border-subtle);
}
