/* Set the width of the file button to match the "Load example data" button */
.btn-file {
  width: 180px;
}

/* Increase font size in large buttons */
.btn-lg {
  font-size: 22px;
}

/* Allow for centering of images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Fix padding for the navbar */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar, .tab-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Tweak placement and size of modal dialogs */
.modal-dialog {
  top: 15vh;
}

/* Increase size of the progress bar when uploading files */
.progress {
  height: 20px;
}
.progress .progress-bar {
  font-size: 15px;
  line-height: 18px;
}

/* Customize shiny notifications */
#shiny-notification-panel {
  width: 400px;
}
.shiny-progress-notification .progress-text .progress-message {
  font-size: 110%;
  font-weight: normal;
  color: #161718;
}
.shiny-notification-close {
  font-size: 32px;
  padding-right: 4px;
}
.shiny-notification-default {
  color: #161718;
  background: #495057;
  border: 0;
  font-size: 1rem;
}
.shiny-notification-message {
  color: #10335b;
  background: #d4e6f9;
  border: 0;
  font-size: 1rem;
}
.shiny-notification-warning {
  color: #662f0a;
  background: #ffc8a3;
  border: 0;
  font-size: 1rem;
}
.shiny-notification-error {
  color: #660017;
  background: #ff99b0;
  border: 0;
  font-size: 1rem;
}
