/* Remove some of the padding from containers */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Adjust padding for elements of the navbar */
.navbar,
.tab-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Making the top-left title bigger, while maintaining proper vertical
   alignment in the navbar */
.navbar-brand {
  font-size: 40px;
  line-height: 1.2;
  padding-top: 0;
  padding-right: 7px;
  bottom: 0;
}

/* Increase the font size of the tab names */
.navbar-default {
  font-size: 17.5px;
}

.jumbotron {
  width: 67%;
  margin: auto;
}

.progress {
  height: 20px;
}
.progress .progress-bar {
  font-size: 15px;
  line-height: 18px;
}

.shiny-notification {
  font-size: 20px;
  margin-bottom: 60px;
}

/* Customizing the Github image inserted into the right side of the navbar */
#github-img{
  position: absolute;
  right: 10px;
  top: -4px;
  bottom: 0;
  height: 25px;
}
